@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";


em {
    font-style: normal;
    font-weight: 500;
}

div {
    @include fs-bodyCopy(1);
   padding-bottom: 1em;
}

h4 {
    margin-bottom: 2px;
}

.attribution {
    @include fs-bodyCopy(1);
    font-size:0.9em;
}

.quote {
    @include fs-bodyCopy(3);
     color: grey;
     margin-bottom: 0.5em;
     margin-top: 0px;
   
}

.statementswrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.remain {
    flex: 1;
   }

.remain em {
    color: #197caa;
}

.leave em {
    color: #b82266;
}

.leave {
  flex: 1;
  margin-right: 2em;
}

.remain-header {
    color: #197caa;
}

.leave-header {
    color: #b82266;
}



#topics {
    padding-bottom: 10px;
   
}

.analysiswrapper{
    display: flex;
    flex-wrap: wrap;
    
}

.analysiskicker {
    background-color: #FFFF99;
    font-weight: 300;
}

.analysisheader {
    font-weight: 700;
}

.analysistextwrapper {
     flex: 1;
     min-width: 15em;
     padding-right: 1em;
}

.graphwrapper {
    flex: 2;
    min-width: 380px;
    background-color: grey;
    min-height: 150px;
}