@import "fonts";
@import "palette";
@import "mq";
@import "general";
@import "share";

.euref-topics {
    --leave-accent: #197caa;
    --remain-accent: #ff9b0b;
}

.topicheader {
    margin-bottom: 1em;
}

em {
    font-style: normal;
}

div {
    @include fs-bodyCopy(1);
}

h4 {
    margin-top:0px;
    margin-bottom: 2px;
}

.euref-attribution {
    @include fs-bodyCopy(1);
    font-size:0.9em;

}

.euref-quote {
     line-height: 1.2em !important;
     @include fs-headline(3);
     color: grey;
     margin-bottom: 0.5em;
     margin-top: 0px;
     font-weight: 200;
     font-size: 1.8em; 
}

.euref-source {
    @include fs-textSans(2);
}

.euref-source::after {
    content: "";
    display: inline-block;
    background: url("http://interactive.guim.co.uk/2015/03/policy-grid/assets-1429714493568/imgs/external.svg") no-repeat center;
    background-size: contain;
    margin-left: 5px;
    width: 16px;
    height: 10px;
} 

.statementswrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.euref-cell {
    padding-bottom: 1em;
}

.euref-cell.leave {
      flex: 1;
  flex-shrink: 0;
  flex-basis: 220px;
  margin-right: 5px;
  min-width: 220px;
  max-width: 380px;
    @media (min-width:1150px) {
    border-right: 1px solid lightgrey;
    padding-right: 10%;
    }
}


/*   
.euref-cell.remain {
    @media (min-width:500px) {
    border-left: 1px solid lightgrey;
    padding-left: 15px;
    }
}
*/
.remain em {
    color: var(--remain-accent);
}

.leave em {
    color: var(--leave-accent);
}

.euref-cell.remain {
    flex: 1;
    flex-shrink: 0;
    flex-basis: 220px;
    min-width: 220px;
    max-width: 380px;
     @media (min-width:1150px) {
    padding-left: 10px;
    }
     }
   



.remain-header {

  color: var(--remain-accent);    
}

.leave-header {
    color: var(--leave-accent);
}

.analysiswrapper{
    display: flex;
    flex-wrap: wrap-reverse; 
    margin-top: 50px;   
    padding-bottom: 1em;
}

.analysiskicker {
    background-color: peachpuff;
    font-weight: 300;
}

.analysisheader {
    font-weight: 700;
}

.analysistextwrapper {
     flex: 1;
     flex-shrink: 0;
     flex-basis: 15em;
     min-width: 15em;
    padding-bottom: 1em;
     
     padding-right: 1em;
}

.graphwrapper {
    flex: 2;
    flex-shrink: 0;
    flex-basis:380px;
    min-width: 380px;
    max-width: 620px;
    padding-bottom: 10px;    
 @media (min-width:540px) {
        flex-basis: 540px;
        min-width: 540px;
    } 
}

iframe {
    width: 100%;
    @media (max-width: 500px) {
        width:90%;
    }
}

.euref-sell {
    @include fs-headline(2);
}

.euref-topic {
    border-top: 1px solid lightgrey;
    margin-bottom: 70px;
    padding-top: 20px;
}



.euref-topic:first-of-type {
    border-top: 0;   
    padding-top: 0; 
}